.main-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -8px;
    padding: 20px;
    border:  1px solid #ccc;
    border-radius: 9px;
    max-width: 1200px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 5px;
  }
  
  .containe{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* duas colunas*/
    gap: 15px; /* espaço campos */
}
form{
    width: 100%;
}
hr{
    grid-column: span 2; /*  linha quu ocupa duas colunas */
    border: none;
    border-top: 1px solid #d9d9d9;
    margin: 10px 0;
}

.titulo {
    grid-column: span 2; /* título que ocupa duas colunas */
    text-align: center;
    color: #325c32;
    margin-bottom: 10px;
}



label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    color: #555;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"],
select,
textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 80px; /*menor altura para textareas */
}

input[type="file"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}
button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}



#btnvv {
    padding: 15px;
    background-color: #325c32;
}