.main-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border:  1px solid #ccc;
    border-radius: 9px;
    max-width: 1200px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #2c8a375e;
    border-radius: 5px;
  }
  .form-alt{
    max-width: 800px;
}
.titulo {
    grid-column: span 2; 
    text-align: center;
    color: #41A24D;
    margin-bottom: 10px;
}
  
  .containe{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* duas colunas*/
    gap: 15px; /* espaço campos */
}
form{
    width: 100%;
}
hr{
    grid-column: span 2; /*  linha quu ocupa duas colunas */
    border: none;
    border-top: 1px solid #d9d9d9;
    margin: 10px 0;
}



label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    color: #333;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"],
select,
textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 80px; /*menor altura para textareas */
}

input[type="file"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}
button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}
button[type="submit"] {
    background-color: #28a745;
}
button[type="submit"]:hover {
    background-color: #218838;
}

button[type="submit"]:last-of-type {
    background-color: #dc3545;
}

button[type="submit"]:last-of-type:hover {
    background-color: #c82333;
}