#main-box{
    display: flex;
    flex-direction: column;
}
.app-container{
    display: flex;
    margin-top: 83px;
    margin-bottom: 20px;
}
.content{
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.sidebar{
    width: 240px;
    background-color:#41A24D;
    color: #1E1E1E;
    height: 80vh;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    border-top: 3px solid #eeeeee;
    border-bottom: 3px solid #f01010;
}
.menu-item{
    color: #f8f8f8;
    font-weight: bold;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    border-bottom: 1px dashed  #b6b1b15e;
}
.menu-item a {
    color: #f8f8f8;
    font-weight: bold;
    text-decoration: none;
}
.sub-menu{
    display: flex;
    flex-direction: column;
    background-color: #41A24D;
    padding: 10px;
    margin-top: 10px;
}
.sub-menu a{
    text-decoration: none;
    font-size: 17px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: #f8f8f8;
}
.sub-menu a:hover{
    background-color: #b6b1b15e;
}
.menu-item:hover{
    background-color: #37a349;
}
