footer {
    background-color: #41A24D;
    color: #fff;
    padding: 8px;
    text-align: center;
}
.footer-section {
    display: inline-block;
    vertical-align: top;
    margin:15px;
}
.footer-section h4 {
    margin-bottom: 10px;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}
.footer-section ul li {
    margin: 5px 0;
}
.footer-section ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}
.footer-section ul li a:hover {
    color: #cac7c7;
    text-decoration: underline;
    
}
.footer-address {
    margin-top: 20px;
    font-size: 14px;
}
.footer-icons {
    margin-top: 10px;
}
.footer-icons a {
    color: #fff;
    margin: 0 5px;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}
.footer-icons a:hover {
    color: #cac7c7;
    text-decoration: underline;
}
.copyright {
    margin-top: 20px;
    font-size: 12px;
    color: #1E1E1E;
}
.logoif{
    width: 100px;
    border-left: 3px solid white;
    margin-right: 20px;
}
  