.nav{
    background-color: #41A24D;
    padding: 10px;
    display: flex;
    margin-bottom: 5px;
    border-bottom: 3px solid #f8f8f8;
}
.nav h4{
    color: #1E1E1E;
    display: flex;
    align-items: center;
    margin: 10px;
}
.nav-bar{
    background-color: #41A24D;
    color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav-bar h2{
    font-size: 24px;
    font-weight: bold;
}
.nav .logo{
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
}