.nav{
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    margin-bottom: 5px;
    border-bottom: 5px solid #41A24D;
    position: fixed; /* Fixa o hearder */
    top:0; 
    z-index: 1000;
    width: 100%;
}
.nav h4{
    color: #1E1E1E;
    display: flex;
    align-items: center;
    margin: 10px;
}
.menu-login{
    color: #0e0d0d;
    font-weight: bold;
    padding: 5px;
    font-size: 17px;
    cursor: pointer;
}
.menu-login a {
    color: #0e0d0d;
    font-weight: bold;
    text-decoration: none;
}
.above{
    color: #41A24D;
    font-size: 15px;
}
.nav-bar{
    background-color: #f8f8f8;
    color: #1E1E1E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav-bar h2{
    font-size: 24px;
    font-weight: bold;
}
.nav .logo{
    display: flex;
    align-items: center;
    width: auto;
    height: 50px;
}