.main{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    flex-wrap: wrap; /* faz que as divs quebrem para a proxima linha em telas pequenas */
    margin-top: -9px;
}
.main-container{
    max-width: 900px;
    padding: 8px;
    background-color: #f9f9f9;
    height: 590px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    border:  1px solid #ccc;
    border-radius: 9px;
    flex: 1; /* divs cresceam igualmente */
    min-width: 250px; /* largura minima para cada div */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.containei{
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border:  1px solid #ccc;
    border-radius: 9px;
    flex: 1; 
    min-width: 250px; 
    padding: 20px;
    max-width: 200px;
    padding: 8px;
    background-color: #f9f9f9;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid gray;
    border: 10px;
}
.container-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.if{
    height: 100px;
    max-width: 120px;
    
}
.pesquisa{
    border: 3px solid #333;
    border-radius: 10px;
    width: 250px;
    height: 30px;
    background-color: rgba(128, 128, 128, 0.425);
    font-family: Jura;
    margin-top: 8px;
    margin-bottom: 20px;
}
.titulo{
    margin-bottom: -8px;
}
.sub-titulo{
    margin-left: 20px;
    color:  rgba(63, 62, 62, 0.603);
}